<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Tests" parallel="tests" thread-count="2">
    <listeners>
    <listener class-name="AutomationFramework.Listeners"></listener>
    </listeners>
    <!-- Test block for Chrome -->
    <test name="ChromeTest">
        <parameter name="Browser" value="Chrome" />
        <classes>
            <class name="AutomationFramework.HomePageValidation" />
        </classes>
    </test>
    
    <!-- Test block for Firefox -->
    <test name="FirefoxTest">
        <parameter name="Browser" value="Edge" />
        <classes>
            <class name="AutomationFramework.EdigeTestcases" />
        </classes>
    </test>

</suite>
